@import 'includes/reset';
@import 'includes/fonts';
@import 'includes/colors';
// Main Style
html,
body {
	@include font-oxygen;
	@include font-props(13px, 19px);
	color: $c-description;
}
#root {
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
.container {
	max-width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

// Media
@import 'media';