@import 'includes/reset';
@import 'includes/fonts';
@import 'includes/colors';
// Main Style
html,
body {
	@include font-oxygen;
	@include font-props(13px, 19px);
	color: $c-description;
}
#root {
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.container {
	max-width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.homepage__background {
	background-image: url('../static/background-top-home.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $c-blackout-image;
		z-index: 2;
	}
}
.homepage__main-link {
	display: inline-block;
	padding: 12px 31px;
	background-color: $c-bg-link;
	border: 1px solid transparent;
	border-radius: 3px;
	color: $c-white-main;
	&:hover {
		opacity: .9;
	}
}
.homepage__filter {
	display: inline-block;
	padding-top: 13px;
	padding-bottom: 13px;
	color: $c-filter;
	@include font-props(14px, 20px);
	width: 139px;
	text-align: center;
	&:hover {
		color: $c-bg-link;
	}
	&.active {
		color: $c-bg-link;
	}
}

// Media
@import 'media';
